*.class
**/bin/
**/build/
**/classes/
*.log
**/.nb*/
**/*.swp
**/*.swo

# Package Files #
*.jar
*.war
*.zip

# Various settings files that should be handled otherwise
.classpath
.project
.gradle
.settings
.pmd
gradle.properties
gradlew
**/gradlew
**/gradlew.bat
**/gradle/

# Editor backup files
*.bak
*.*~
*.keep
*.contrib

# BeyondCompare3 temp & backup files files
*.orig
*.java.*.*.java
.idea/
/bin/
*.iml
*.ipr
*.iws
out/
.metadata/